<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
</head>
<body>
    <h1>Reservation</h1>
    <div>
        <form action="/newVoyage" method="post" class="form1">

            <div>
                <label for="destination">Destination</label>
                <input type="text" name="destination" id="destination">
            </div>
            <div>
                <label for="nb_passenger">Nombre de passagers</label> 
                <input type="number" name="nb_passenger" id="nb_passenger">
            </div>
           
            <div>
                <label for="insurance">Assurance</label>
                <input type="checkbox" name="insurance" id="insurance">
            </div>

            <div>
                <input type="submit" value="Etape suivante">
            </div>
            
        </form>
        <button onclick="computeTotal()">Calculer le total</button>
        <br>
        <label >Total de la réservation:</label>
        <label id = "displayTotal">0</label>
        
    </div>
</body>
<script src="script/home.js"></script>
</html>